<%= labelled_form_for :inventory_software, @inventory_software,
                             :url => {:action => 'softwares', :id => @inventory_software},
                             :html => {:id => 'software-form'} do |f| %>
    <%= error_messages_for 'inventory_software' %>
      <p>
        <%= f.text_field :name, :size => 80, :required => true %>
        <br/><%= f.text_field :product_key, :size => 50, :required => true %>
        <br/><%= f.text_field :registered_email, :size => 50, :required => true %>
        <br/><%= f.text_field :allowed_count, :size => 4, :required => true %>
        <br/><%= f.text_field :expiry_date, :required => true %>
        <br/><%= f.select(:installed_device_id, @products, {:include_blank => false}) %>
        <% if params[:edit] %><input type='hidden' name='edit' value='<%= params[:edit] %>'/>
        <% else %><input type='hidden' name='create' value='true'/><% end %>
      </p>
      <p>
        <%= submit_tag l(:button_submit) %>
        <% if params[:edit] %><input type='button' value='<%= l('Cancel') %>' onclick='location.href="parts"' /><% end %>
      </p>
<% end %>